html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.new-dad-joke-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.joke-section {
    background-color: #F6F5F4;
    padding: 25px;
    border-radius: 20px;
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
