.joke-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 20px;
    box-sizing: border-box;
    background: #F6F5F4;
}

.joke-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    justify-content: center;
}

.joke-section p {
    font-size: 16px;
}